.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  width: 800px; 
  padding: 50px 0;
  display: flex;
}

.left {
  border: 1px solid blue;
  padding: 0 50px;
}

.proofsLabel {
  font-size: 2em;
  padding: 0px 5px;
}

.right {
  border: 1px solid green;
  width: 100%;
  padding: 0 40px;
}
